*{
    margin: 0;
    padding: 0;
}

body{
    height: 4000px;
}

.caixa-esquerda{
    background-color: rgb(0, 17, 255);
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 40px;
}


.caixa-direita{
    background-color: rgb(151, 46, 8);
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 40px;
}

.caixa-centro{
    background-color: rgb(84, 43, 122);
    width: 200px;
    height: 200px; 
    position: fixed;
    bottom: 0%;
    right: 40%;
    padding: 40px;
    
}

.texto-interno{
    color: black;
    font-weight: bold;
    background-color:white;
    height: 100%;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

